<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	
<head th:include="/../pageheader :: pageheader"></head>

<body>
	<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
    
    <div th:replace="/../mainmenu :: mainmenu"></div>

    <div>
		<div class="row justify-content-md-center">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/device/inactivate}" th:object="${device}" method="post" class="form-horizontal" role="form">
					<div class="text-primary col-sm-9">
						<h2>
						   <span class="align-middle" style="margin-left:5px;">Inactivate device</span>
						</h2>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
						    <label class="text-secondary" style="margin-left:5px;">Device</label>
						    <label style="font-size: 20; color: #FF1C19;" th:if="${#fields.hasErrors('deviceId')}" th:errors="*{deviceId}" class="validation-message"></label>
							<select class="form-control" id="FormControlSelect" th:field="*{deviceId}">
								<option th:each="deviceTemp : ${deviceList}" th:value="${deviceTemp.deviceId}" th:text="${deviceTemp.deviceId} + ' - ' + ${deviceTemp.deviceNumber}"></option>
							</select>							
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Inactivate</button>
						</div>
					</div>
					<div align="center" th:if="${param.error}">
		                <p style="font-size: 20; color: #FF1C19;">Something wrong, please check</p>
		            </div>
					<span th:utext="${successMessage}"></span>				
				</form>
			</div>
		</div>
	</div>

    <div th:replace="/../pagescriptsjs :: pagescriptsjs"></div>
    </div>
    </div>
</body>
</html>