.container {
/* 	background: yellow; */
}
.row {
	height: 30px;
}
#header {
    background: #0776A0;
}
#table .row:nth-child(odd) {
	background: #83D0ED;
}
#table .row:nth-child(even) {
    background: #58B7DB;
}