<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
<head>
    <div th:replace="pageheader :: pageheader"></div>
</head>
      
<body>

    <div th:replace="mainmenu :: mainmenu"></div>

	<div class="container">
	   <div class="row" style="height: 50px;">
           <div class="text-primary col-sm-9" >
               <h2>
                   <span class="align-middle" style="margin-left:5px;">System description</span>
               </h2>
           </div>
        </div>
		<div>
	       This is access control system. This system allows you to connect 
	    </div>
	</div>

    <div th:replace="pagescriptsjs :: pagescriptsjs"></div>

</body>

</html>