<div th:fragment="mainmenu" align="center">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	    <a class="navbar-brand" href="#">Access control</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	    </button>
	
	    <div class="collapse navbar-collapse" id="navbar">
	        <ul class="navbar-nav mr-auto">
	            <li class="nav-item dropdown">
	                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</a>
	                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
	                    <a class="dropdown-item" href="view">View</a>
                        <a class="dropdown-item" href="add">Add</a>
                        <a class="dropdown-item" href="activate">Activate</a>
                        <a class="dropdown-item" href="inactivate">Inactivate</a>
	                    <div class="dropdown-divider"></div>
	                    <a class="dropdown-item" href="#">Other</a>
	                </div>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="/card/view">Cards<span class="sr-only"></span></a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="/user/view">Users</a>
	            </li>
	            <li class="nav-item">
                    <a class="nav-link" href="/device/view">Devices</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="/ruleType/view">Rule Types</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/eventType/view">Event Types</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="/rule/view">Rules</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="/accessMessage/view">Access Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/eventMessage/view">Event Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/infoMessage/view">Info Messages</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="/accessMessageWrong/view">Access Message Wrong</a>
                </li>         
	        </ul>
	        <form class="form-inline my-2 my-lg-0">
	            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
	        </form>
	        
		        <div class="font-weight-bold text-info px-3">
		            <div th:if="${name != null}">User:</div>
		            <div th:if="${name != null}" th:text="${name}"></div>
		            <div th:if="${name != null}" ><a href="/logout">Logout.</a></div>
		        </div>
	        
	    </div>
	</nav>
</div>
