<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
      
<head>
    <div th:replace="/../pageheader :: pageheader"></div>
</head>
      
<body>
    <div th:replace="/../mainmenu :: mainmenu"></div>

	<div class="container">
		<div class="row" style="height: 50px;">
		   <div class="text-primary col-sm-9" >
               <h2>
                   <span class="align-middle" style="margin-left:5px;">EventMessages</span>
               </h2>
           </div>
		</div>
		
		<table class="table table-striped table-sm table-hover">
		  <thead>
		    <tr>
		      <th scope="col">id</th>
		      <th scope="col">device number</th>
			  <th scope="col">event</th>
		      <th scope="col">description</th>
			  <th scope="col">date</th>
			  <th scope="col">access message id</th>
			  <th scope="col">rule id</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="eventMessage : ${eventMessageList}">
		      <td th:text="${eventMessage.eventMessId}"></td>
			  <td th:text="${eventMessage.getDeviceId().getDeviceNumber()}"></td>
			  <td th:text="${eventMessage.getEventId().getDescription()}"></td>
		      <td th:text="${eventMessage.description}"></td>
			  <td th:text="${eventMessage.date}"></td>
			  <td th:text="${eventMessage.getBaseAccessMessId().getAccessMessId()}"></td>
			  <td th:text="${eventMessage.getRuleId().getRuleId()}"></td>
		    </tr>
		  </tbody>
		</table>
	</div>

    <div th:replace="/../pagescriptsjs :: pagescriptsjs"></div>

</body>

</html>